.booking-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#booking {
    padding-bottom: 100px;
}

#booking .paragrafo span {
    font-weight: 800;
}

#booking .paragrafo a {
    text-decoration: underline;
}

.booking-info {
    align-self: center;
}

.booking-form {
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.form-item {
    width: 100%;
}

.form-item label {
    color: var(--white);
    display: block;
    font-size: var(--fonte-12);
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 8px;
}

.form-item :is(input, textarea) {
    background-color: var(--gray);
    background-repeat: no-repeat;
    background-position: 7px 48%;
    background-size: 20px;
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--dark-black);
    display: inline-block;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: var(--fonte-14);
    line-height: 18px;
    margin-bottom: 20px;
    outline: none;
    padding: 8px 12px 8px 40px;
    width: 100%;
}

.form-item input#name {
    background-image: url("../../images/5fb58d8a42a8bd539d5f360e_icons8-contacts-64.png");
}

.form-item input#email {
    background-image: url("../../images/5fb58d77a1fc9211ffbaa6f3_icons8-secured-letter-64.png");
}

.form-item input#group {
    background-image: url("../../images/5fb58d78a1fc925389baa71f_icons8-box-64.png");
}

.form-item textarea#message {
    background-image: url("../../images/5fb58d8a42a8bdd8d85f3610_icons8-edit-80.png");
    background-position: 8px 8px;
}

.btn-form {
    box-shadow: 0px 0px 0px 0px var(--black);
    padding: 12px 24px;
    text-transform: uppercase;
    transition: all 0.15s ease 0s;
    width: 100%;
}

.btn-form:hover {
    box-shadow: 0 6px 12px 0 rgba(142, 152, 173, 0.38);
}

@media screen and (max-width: 800px) {
    .booking-container {
        grid-template-columns: 1fr;
    }
}